<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Navbar</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

 <%- include('partial/navbar') %>
 <div class="homeimg"><img src="/IMG/homeimage.jpg" alt="homeImage">
 <div class="hometext">Welcome to Our Website</div>
</div>

<!-- Destination Section -->

<h1 style="margin-top: 20px;">Popular Destinations</h1>
<div class="populardestination">
    <img src="/IMG/simlaImage.jpg" alt="">
    <img src="/IMG/manaliImage.jpg" alt="">
    <img src="/IMG/explore-ladakh.jpg" alt="">
</div>


    <div><h1 style="margin-top: 50px;">Book Your Stay </h1></div>
    <div><span class="view-all">View All</span></div>


    
 <div class="contaner">
    
<div class="populardestination">
    <div class="box">
        <img src="/IMG/rooms/room3insimla.jpeg" alt="Simla">
        <div class="alltext">
            <div class=""> 
                <p>Simla</p>
                <p>Himachal Pradesh</p>
                <p>₹ 2000</p>
                <button class="btn" type="button" onclick="location.href='/booking'">Book Now</button>
            </div>
        </div>
    </div>

    <div class="box">
        <img src="/IMG/rooms/room1manali.jpg" alt="Manali">
        <div class="alltext">
            <div class="">
                <p>Manali</p>
                <p>Himachal Pradesh</p>
                <p>₹ 2500</p>
                <button class="btn">Book Now</button>
            </div>
        </div>
    </div>
    <div class="box">
        <img src="/IMG/rooms/room2inladak.jpg" alt="Ladakh">
        <div class="alltext">
            <div class=""></div>
            <div class="name"><p>Ladakh</p></div>
            <div class="city"><p>Ladakh</p></div>
            <div class="pnight"><p>₹ 3000</p></div>
            <button class="btn">Book Now</button>
        </div>
    </div>
</div>
    
    <!-- <div class="box">
        <div class="img"><img src="/IMG/rooms/room1manali.jpg" alt=""></div>
        
        <div class="text">
            <div class="rowline"></div>
            <div class="name"><p>Name</p></div>
            <div class="city"><p>City Name</p></div>
            <div class="pnight"><p>Price Per Night</p></div>
            <button class="btn">Book Now</button>
        </div>
    </div>
    <div class="box">
        <div class="img"><img src="/IMG/rooms/room2inladak.jpg" alt=""></div>
        <div class="text">
            <div class="rowline"></div>
            <div class="name"><p>Name</p></div>
            <div class="city"><p>City Name</p></div>
            <div class="pnight"><p>Price Per Night</p></div>
            <button class="btn">Book Now</button>
        </div>
    </div>
    <div class="box">
        <div class="img"><img src="/IMG/rooms/room3insimla.jpeg" alt=""></div>
        <div class="text">
            <div class="rowline"></div>
            <div class="name"><p>Name</p></div>
            <div class="city"><p>City Name</p></div>
            <div class="pnight"><p>Price Per Night</p></div>
            <button class="btn">Book Now</button>
        </div>
    </div> -->


 </div>

 <%- include('partial/footer') %>

</body>
</html>
