<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<%- include('partial/navbar') %>

 <div class="contaner">
    
<div class="populardestination">
    <div class="box">
        <img src="/IMG/rooms/room3insimla.jpeg" alt="Simla">
        <div class="alltext">
            <div class=""> 
                <p>Simla</p>
                <p>Himachal Pradesh</p>
                <p>₹ 2000</p>
                <button class="btn" type="button" onclick="location.href='/booking'">Book Now</button>
            </div>
        </div>
    </div>

    <div class="box">
        <img src="/IMG/rooms/room1manali.jpg" alt="Manali">
        <div class="alltext">
            <div class="">
                <p>Manali</p>
                <p>Himachal Pradesh</p>
                <p>₹ 2500</p>
                <button class="btn" type="button" onclick="location.href='/booking'">Book Now</button>
            </div>
        </div>
    </div>
    <div class="box">
        <img src="/IMG/rooms/room2inladak.jpg" alt="Ladakh">
        <div class="alltext">
            <div class=""></div>
            <div class="name"><p>Ladakh</p></div>
            <div class="city"><p>Ladakh</p></div>
            <div class="pnight"><p>₹ 3000</p></div>
            <button class="btn" type="button" onclick="location.href='/booking'">Book Now</button>
        </div>
    </div>

    

    
</div>
</div>
  
 <div class="contaner">
<div class="populardestination">
    <div class="box">
        <img src="/IMG/rooms/room3insimla.jpeg" alt="Simla">
        <div class="alltext">
            <div class=""> 
                <p>Simla</p>
                <p>Himachal Pradesh</p>
                <p>₹ 2000</p>
                <button class="btn" type="button" onclick="location.href='/booking'">Book Now</button>
            </div>
        </div>
    </div>

    <div class="box">
        <img src="/IMG/rooms/room1manali.jpg" alt="Manali">
        <div class="alltext">
            <div class="">
                <p>Manali</p>
                <p>Himachal Pradesh</p>
                <p>₹ 2500</p>
                <button class="btn" type="button" onclick="location.href='/booking'">Book Now</button>
            </div>
        </div>
    </div>
    <div class="box">
        <img src="/IMG/rooms/room2inladak.jpg" alt="Ladakh">
        <div class="alltext">
            <div class=""></div>
            <div class="name"><p>Ladakh</p></div>
            <div class="city"><p>Ladakh</p></div>
            <div class="pnight"><p>₹ 3000</p></div>
            <button class="btn" type="button" onclick="location.href='/booking'">Book Now</button>
        </div>
    </div>
</div>
</div>

 <div class="contaner">
    
<div class="populardestination">
    <div class="box">
        <img src="/IMG/rooms/room3insimla.jpeg" alt="Simla">
        <div class="alltext">
            <div class=""> 
                <p>Simla</p>
                <p>Himachal Pradesh</p>
                <p>₹ 2000</p>
                <button class="btn" type="button" onclick="location.href='/booking'">Book Now</button>
            </div>
        </div>
    </div>

    <div class="box">
        <img src="/IMG/rooms/room1manali.jpg" alt="Manali">
        <div class="alltext">
            <div class="">
                <p>Manali</p>
                <p>Himachal Pradesh</p>
                <p>₹ 2500</p>
                <button class="btn" type="button" onclick="location.href='/booking'">Book Now</button>
            </div>
        </div>
    </div>
    <div class="box">
        <img src="/IMG/rooms/room2inladak.jpg" alt="Ladakh">
        <div class="alltext">
            <div class=""></div>
            <div class="name"><p>Ladakh</p></div>
            <div class="city"><p>Ladakh</p></div>
            <div class="pnight"><p>₹ 3000</p></div>
            <button class="btn" type="button" onclick="location.href='/booking'">Book Now</button>
        </div>
    </div>

    

    
</div>
</div>
    <%- include('partial/footer') %>
</body>
</html>